In [6]:
import geopandas as gpd
from arcgis.features import GeoAccessor

gdf = gpd.read_file("../data/raw/accidentologie0.geojson")
sdf = GeoAccessor.from_geodataframe(gdf)

In [8]:
sdf.head()

,idusager,annee,pv,com_arm_code,victime_type,categorie,gravite,age,sexe_victime,milieu,...,blesses_legers,blesses_hospitalises,tues,resume,coordonnees,nom_arrondissement,arronco,coordonnes,iris,SHAPE
0,1887571,2018-03-02,1863,75117,4 Roues,Passager,Blessé léger,36.0,Feminin,En-Agg,...,1.0,NaN,NaN,"Accident Léger non mortel, En agglomération, E...","48.8918, 2.30158",Paris 17e Arrondissement,75117,"{'lon': 2.30158, 'lat': 48.8918}",Paris 17e Arrondissement,"{""rings"": [[[2.303774362, 48.894153779], [2.30..."
1,189282,2021-06-22,4871,75113,2 Roues Motorisées,Conducteur,Blessé léger,17.0,Masculin,En-Agg,...,1.0,NaN,NaN,"Accident Léger non mortel, En agglomération, E...","48.819161, 2.359433",Paris 13e Arrondissement,75113,"{'lon': 2.359433, 'lat': 48.819161}",Paris 13e Arrondissement,"{""rings"": [[[2.366087726, 48.844967843], [2.37..."
2,1905304,2018-11-22,11883,75112,Piéton,Piéton,Blessé léger,59.0,Masculin,En-Agg,...,1.0,NaN,NaN,"Accident Léger non mortel, En agglomération, E...","48.843, 2.3704",Paris 12e Arrondissement,75112,"{'lon': 2.3704, 'lat': 48.843}",Paris 12e Arrondissement,"{""rings"": [[[2.467319402, 48.839099389], [2.46..."
3,1907825,2018-04-17,3593,75115,4 Roues,Conducteur,Blessé léger,33.0,Masculin,En-Agg,...,1.0,NaN,NaN,"Accident Léger non mortel, En agglomération, E...","48.8437, 2.29774",Paris 15e Arrondissement,75115,"{'lon': 2.29774, 'lat': 48.8437}",Paris 15e Arrondissement,"{""rings"": [[[2.289407656, 48.828333842], [2.28..."
4,1911196,2018-09-25,9487,75115,2 Roues Motorisées,Conducteur,Blessé léger,31.0,Masculin,En-Agg,...,1.0,NaN,NaN,"Accident Léger non mortel, En agglomération, E...","48.8459, 2.2769",Paris 15e Arrondissement,75115,"{'lon': 2.2769, 'lat': 48.8459}",Paris 15e Arrondissement,"{""rings"": [[[2.289407656, 48.828333842], [2.28..."

In [9]:
sdf.columns

Index(['idusager', 'annee', 'pv', 'com_arm_code', 'victime_type', 'categorie',
       'gravite', 'age', 'sexe_victime', 'milieu', 'adresse', 'champ13',
       'longitude', 'latitude', 'id_accident', 'pim_bp', 'tranche_age_victime',
       'blesses_legers', 'blesses_hospitalises', 'tues', 'resume',
       'coordonnees', 'nom_arrondissement', 'arronco', 'coordonnes', 'iris',
       'SHAPE'],
      dtype='object')

In [10]:
sdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41211 entries, 0 to 41210
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   idusager              41211 non-null  object
 1   annee                 41211 non-null  object
 2   pv                    41211 non-null  object
 3   com_arm_code          41211 non-null  int64
 4   victime_type          41211 non-null  object
 5   categorie             41211 non-null  object
 6   gravite               41211 non-null  object
 7   age                   41211 non-null  float64
 8   sexe_victime          41211 non-null  object
 9   milieu                41211 non-null  object
 10  adresse               41209 non-null  object
 11  champ13               41211 non-null  object
 12  longitude             41211 non-null  object
 13  latitude              41211 non-null  object
 14  id_accident           41211 non-null  object
 15  pim_bp                41211 non-null  object
 16  tranche_age_victime   41081 non-null  object
 17  blesses_legers        38072 non-null  float64
 18  blesses_hospitalises  2917 non-null   float64
 19  tues                  254 non-null    float64
 20  resume                40195 non-null  object
 21  coordonnees           35760 non-null  object
 22  nom_arrondissement    35760 non-null  object
 23  arronco               41211 non-null  object
 24  coordonnes            41211 non-null  object
 25  iris                  41211 non-null  object
 26  SHAPE                 41211 non-null  geometry
dtypes: float64(4), geometry(1), int64(1), object(21)
memory usage: 8.5+ MB

In [11]:
sdf.to_parquet("../data/raw/paris_accidents_raw.parquet")