In [34]:
import pandas as pd
from arcgis.features import GeoAccessor

df = pd.read_parquet("../data/processed/paris_accidents_cleaned.parquet")

# Tell ArcGIS which column is the geometry
sdf = GeoAccessor.from_df(df, geometry_column="SHAPE")

sdf.head()

,id_accident,annee,age,sexe_victime,victime_type,categorie,gravite,milieu,nom_arrondissement,longitude,latitude,blesses_legers,blesses_hospitalises,tues,iris,SHAPE
0,676640,2018-03-02,36.0,Feminin,4 Roues,Passager,Blessé léger,En-Agg,Paris 17e Arrondissement,2.30158,48.8918,1.0,NaN,NaN,Paris 17e Arrondissement,"{""rings"": [[[2.303774362, 48.894153779], [2.30..."
1,83423,2021-06-22,17.0,Masculin,2 Roues Motorisées,Conducteur,Blessé léger,En-Agg,Paris 13e Arrondissement,2.359433,48.819161,1.0,NaN,NaN,Paris 13e Arrondissement,"{""rings"": [[[2.366087726, 48.844967843], [2.37..."
2,683716,2018-11-22,59.0,Masculin,Piéton,Piéton,Blessé léger,En-Agg,Paris 12e Arrondissement,2.3704,48.843,1.0,NaN,NaN,Paris 12e Arrondissement,"{""rings"": [[[2.467319402, 48.839099389], [2.46..."
3,684688,2018-04-17,33.0,Masculin,4 Roues,Conducteur,Blessé léger,En-Agg,Paris 15e Arrondissement,2.29774,48.8437,1.0,NaN,NaN,Paris 15e Arrondissement,"{""rings"": [[[2.289407656, 48.828333842], [2.28..."
4,686001,2018-09-25,31.0,Masculin,2 Roues Motorisées,Conducteur,Blessé léger,En-Agg,Paris 15e Arrondissement,2.2769,48.8459,1.0,NaN,NaN,Paris 15e Arrondissement,"{""rings"": [[[2.289407656, 48.828333842], [2.28..."

In [36]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
sdf["age"] = scaler.fit_transform(sdf[["age"]])

In [37]:
sdf.head()

,id_accident,annee,age,sexe_victime,victime_type,categorie,gravite,milieu,nom_arrondissement,longitude,latitude,blesses_legers,blesses_hospitalises,tues,iris,SHAPE
0,676640,2018-03-02,-0.102618,Feminin,4 Roues,Passager,Blessé léger,En-Agg,Paris 17e Arrondissement,2.30158,48.8918,1.0,NaN,NaN,Paris 17e Arrondissement,"{""rings"": [[[2.303774362, 48.894153779], [2.30..."
1,83423,2021-06-22,-1.201027,Masculin,2 Roues Motorisées,Conducteur,Blessé léger,En-Agg,Paris 13e Arrondissement,2.359433,48.819161,1.0,NaN,NaN,Paris 13e Arrondissement,"{""rings"": [[[2.366087726, 48.844967843], [2.37..."
2,683716,2018-11-22,1.227035,Masculin,Piéton,Piéton,Blessé léger,En-Agg,Paris 12e Arrondissement,2.3704,48.843,1.0,NaN,NaN,Paris 12e Arrondissement,"{""rings"": [[[2.467319402, 48.839099389], [2.46..."
3,684688,2018-04-17,-0.276051,Masculin,4 Roues,Conducteur,Blessé léger,En-Agg,Paris 15e Arrondissement,2.29774,48.8437,1.0,NaN,NaN,Paris 15e Arrondissement,"{""rings"": [[[2.289407656, 48.828333842], [2.28..."
4,686001,2018-09-25,-0.391673,Masculin,2 Roues Motorisées,Conducteur,Blessé léger,En-Agg,Paris 15e Arrondissement,2.2769,48.8459,1.0,NaN,NaN,Paris 15e Arrondissement,"{""rings"": [[[2.289407656, 48.828333842], [2.28..."

In [38]:
gravite_map = {
    "Blessé léger": 0,
    "Blessé hospitalisé": 1,
    "Tué": 2
}
sdf['gravite'] = sdf['gravite'].map(gravite_map)

In [39]:
sdf.head()

,id_accident,annee,age,sexe_victime,victime_type,categorie,gravite,milieu,nom_arrondissement,longitude,latitude,blesses_legers,blesses_hospitalises,tues,iris,SHAPE
0,676640,2018-03-02,-0.102618,Feminin,4 Roues,Passager,0,En-Agg,Paris 17e Arrondissement,2.30158,48.8918,1.0,NaN,NaN,Paris 17e Arrondissement,"{""rings"": [[[2.303774362, 48.894153779], [2.30..."
1,83423,2021-06-22,-1.201027,Masculin,2 Roues Motorisées,Conducteur,0,En-Agg,Paris 13e Arrondissement,2.359433,48.819161,1.0,NaN,NaN,Paris 13e Arrondissement,"{""rings"": [[[2.366087726, 48.844967843], [2.37..."
2,683716,2018-11-22,1.227035,Masculin,Piéton,Piéton,0,En-Agg,Paris 12e Arrondissement,2.3704,48.843,1.0,NaN,NaN,Paris 12e Arrondissement,"{""rings"": [[[2.467319402, 48.839099389], [2.46..."
3,684688,2018-04-17,-0.276051,Masculin,4 Roues,Conducteur,0,En-Agg,Paris 15e Arrondissement,2.29774,48.8437,1.0,NaN,NaN,Paris 15e Arrondissement,"{""rings"": [[[2.289407656, 48.828333842], [2.28..."
4,686001,2018-09-25,-0.391673,Masculin,2 Roues Motorisées,Conducteur,0,En-Agg,Paris 15e Arrondissement,2.2769,48.8459,1.0,NaN,NaN,Paris 15e Arrondissement,"{""rings"": [[[2.289407656, 48.828333842], [2.28..."

In [41]:
sdf.dtypes

id_accident               object
annee                     object
age                      float64
sexe_victime              object
victime_type              object
categorie                 object
gravite                    int64
milieu                    object
nom_arrondissement        object
longitude                 object
latitude                  object
blesses_legers           float64
blesses_hospitalises     float64
tues                     float64
iris                      object
SHAPE                   geometry
dtype: object

In [52]:
import pandas as pd

# 1) convert to datetime
sdf['annee'] = pd.to_datetime(sdf['annee'], errors='coerce')

# 2) keep only the year as integer
sdf['annee'] = sdf['annee'].dt.year.astype('Int64')   # nullable int
# or, if you are sure there are no NaT left:
# sdf['annee'] = sdf['annee'].dt.year.astype('int64')

In [53]:
sdf['longitude'] = pd.to_numeric(sdf['longitude'], errors='coerce')
sdf['latitude']  = pd.to_numeric(sdf['latitude'],  errors='coerce')

In [55]:
sdf.dtypes

id_accident               object
annee                      Int64
age                      float64
sexe_victime              object
victime_type              object
categorie                 object
gravite                    int64
milieu                    object
nom_arrondissement        object
longitude                float64
latitude                 float64
blesses_legers           float64
blesses_hospitalises     float64
tues                     float64
iris                      object
SHAPE                   geometry
dtype: object

In [56]:
sdf.head()

,id_accident,annee,age,sexe_victime,victime_type,categorie,gravite,milieu,nom_arrondissement,longitude,latitude,blesses_legers,blesses_hospitalises,tues,iris,SHAPE
0,676640,1970,-0.102618,Feminin,4 Roues,Passager,0,En-Agg,Paris 17e Arrondissement,2.301580,48.891800,1.0,NaN,NaN,Paris 17e Arrondissement,"{""rings"": [[[2.303774362, 48.894153779], [2.30..."
1,83423,1970,-1.201027,Masculin,2 Roues Motorisées,Conducteur,0,En-Agg,Paris 13e Arrondissement,2.359433,48.819161,1.0,NaN,NaN,Paris 13e Arrondissement,"{""rings"": [[[2.366087726, 48.844967843], [2.37..."
2,683716,1970,1.227035,Masculin,Piéton,Piéton,0,En-Agg,Paris 12e Arrondissement,2.370400,48.843000,1.0,NaN,NaN,Paris 12e Arrondissement,"{""rings"": [[[2.467319402, 48.839099389], [2.46..."
3,684688,1970,-0.276051,Masculin,4 Roues,Conducteur,0,En-Agg,Paris 15e Arrondissement,2.297740,48.843700,1.0,NaN,NaN,Paris 15e Arrondissement,"{""rings"": [[[2.289407656, 48.828333842], [2.28..."
4,686001,1970,-0.391673,Masculin,2 Roues Motorisées,Conducteur,0,En-Agg,Paris 15e Arrondissement,2.276900,48.845900,1.0,NaN,NaN,Paris 15e Arrondissement,"{""rings"": [[[2.289407656, 48.828333842], [2.28..."